.current_container {
  height: 150vh;
  /* background-color: orange; */
  position: absolute;
  display: flex;
  justify-content: center;
  top: 24%;
  left: 0px;
  right: 0px;
  transition: all 2s;
}
.current_container:hover {
  top: 100%;
}

.my_carousel {
  height: 50vh;
  width: 45%;
  position: absolute;
}

.legend {
  cursor: pointer;
}
